@model MVCMoneyBank.Models.AccountList

@{
    ViewBag.Title = "Details";
}

<h2>Money Bank</h2>

<div>
    <h4>View Account</h4>
    <div class="form-control-static">
        <p style="float:right">
            @Html.ActionLink("Edit Account", "Edit", new { acctid = Model.AccountId })
        </p>
    </div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
    </dl>
</div>


<div class="form-group">
    <h2>Transaction History</h2>

    <p style="float:right">
        @Html.ActionLink("Manual Teller Machine", "Teller", new { custid = Model.CustomerID })
    </p>
    <table class="table">
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingBalance)
            </th>
            <th></th>
        </tr>*@

        <tr>
            <th>
                @Html.Label("Create Date")
            </th>
            <th>
                @Html.Label("Transaction Type")
            </th>
            <th>
                @Html.Label("Amount")
            </th>
            <th>
                @Html.Label("Remaining Balance")
            </th>
            <th></th>
        </tr>

        @*@foreach (var item in Model)*@
        @for (int i = 0; i < Model.AccountTransHist.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.AccountTransHist[i].CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.AccountTransHist[i].TransactionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.AccountTransHist[i].Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.AccountTransHist[i].RemainingBalance)
                </td>

            </tr>
         }
    </table>
    <div class="form-control-static">
        <p style="float:right">
            @Html.ActionLink("Back to List", "List")
        </p>
    </div>
</div>

    
